.RSPBprogressBar {
    height:1px;
    margin:4rem 8rem 4rem;
    @media screen and (max-width:480px) {
        margin:4rem 1rem 4rem;
    }
    .RSPBprogression {
        transition: width 1s ease;
         background-color: #664DE5;
     }
}
.card {
    min-height: 90vh;
    border:none;

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 900;
        margin-top: 20%;
        color: #151B28;
        img {
            width: 25px;
            margin-right: 10px;
        }
    }
}
.footer-buttons {
    padding: 0 7rem;
    @media screen and (max-width:480px) {
        padding:0;
    }
}
