.section {
    .title {
        font-size: 28px;
        color: #151B28;
    }
    .note {
        color:#737E95;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 40px;
    }
}